@using Models
@model Book
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-left">@((Model.Id == 0) ? "Add Book" : "Edit Book")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CreateBookPartial">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="text" name="id" id="id" hidden />
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" name="name" id="name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ISBN"></label>
                        <input asp-for="ISBN" name="isbn" id="isbn" class="form-control" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" name="author" id="author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @if (Model.Id == 0)
                {
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
                }
                else
                {
                <button type="button" class="btn btn-primary" data-edit="modal">Edit</button>
                }
            </div>
        </div>
    </div>
</div>